<nav class="bottom-nav glass">
  <a class="bottom-nav__item"
     routerLink="/feed"
     routerLinkActive="bottom-nav__item--active">
    <span class="material-symbols-outlined" [style.fontVariationSettings]="'\'FILL\' 1'">home</span>
  </a>
  <a class="bottom-nav__item"
     routerLink="/search"
     routerLinkActive="bottom-nav__item--active">
    <span class="material-symbols-outlined">search</span>
  </a>
  <a class="bottom-nav__item bottom-nav__item--fab"
     routerLink="/create">
    <span class="material-symbols-outlined">add</span>
  </a>
  <a class="bottom-nav__item"
     routerLink="/events"
     routerLinkActive="bottom-nav__item--active">
    <span class="material-symbols-outlined">calendar_month</span>
  </a>
  <a class="bottom-nav__item"
     routerLink="/profile"
     routerLinkActive="bottom-nav__item--active">
    <span class="material-symbols-outlined">person</span>
  </a>
</nav>
