<main class="auth-page">
    <div class="auth-page__aurora"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-5">
                <div class="auth-wrapper">

                    <container-element [ngSwitch]="showModal()">

                        <!-- 1 - SEND EMAIL FORM -->
                        <ng-container *ngSwitchCase="'send_email'">

                            <header class="auth-forgot__header">
                                <a (click)="goToLogin()" class="auth-forgot__back">
                                    <span class="material-symbols-outlined">arrow_back</span>
                                    <span>Torna al login</span>
                                </a>
                                <h2 class="auth-forgot__heading font-headline">
                                    Password dimenticata?
                                </h2>
                                <p class="auth-forgot__desc">
                                    Nessun problema. Inserisci la tua email e ti manderemo un codice per reimpostare la
                                    password in pochi secondi.
                                </p>
                            </header>

                            <form [formGroup]="sendEmail" (ngSubmit)="onSendEmail()" class="auth-forgot__form">
                                <div class="auth-forgot__field">
                                    <label class="auth-forgot__label">Email</label>
                                    <input type="email" formControlName="email" class="input-field input-rounded"
                                        placeholder="student&#64;polimi.it">
                                    <app-form-error [control]="sendEmail.get('email')"></app-form-error>
                                </div>
                                <button type="submit" class="btn-primary auth-forgot__submit">
                                    Invia codice di recupero
                                </button>
                            </form>
                        </ng-container>


                        <!-- 2 - OTP CODE FORM -->
                        <ng-container *ngSwitchCase="'otp_code'">

                            <header class="auth-forgot__header">
                                <h2 class="auth-forgot__heading font-headline">
                                    Controlla la tua email
                                </h2>
                                <p class="auth-forgot__desc">
                                    Abbiamo inviato un codice OTP a
                                </p>
                                <div class="auth-forgot__email-badge">
                                    <span class="material-symbols-outlined">mail</span>
                                    <span>{{ sendEmail.get('email')?.value }}</span>
                                </div>
                            </header>

                            <form [formGroup]="otpCode" (ngSubmit)="onVerifyOtp()" class="auth-forgot__form">
                                <div class="auth-forgot__field auth-forgot__field--otp">
                                    <label class="auth-forgot__label">Codice OTP</label>
                                    <app-otp-input formControlName="otp" [minLength]="6" [onlyNumbers]="true">
                                    </app-otp-input>
                                    <app-form-error [control]="otpCode.get('otp')"></app-form-error>
                                    <p class="auth-forgot__otp-hint">
                                        Il codice scade dopo 10 minuti. Non l'hai ricevuto?
                                        <a (click)="onSendEmail()" class="auth-forgot__resend">Invia di nuovo</a>
                                    </p>
                                </div>
                                <button type="submit" class="btn-primary auth-forgot__submit">
                                    Verifica codice
                                </button>
                            </form>
                        </ng-container>

                        <!-- 3 - NEW PASSWORD FORM -->
                        <ng-container *ngSwitchCase="'new_password'">
                            <header class="auth-forgot__header">
                                <h2 class="auth-forgot__heading font-headline">
                                    Crea una nuova password
                                </h2>
                                <p class="auth-forgot__desc">
                                    Scegli qualcosa di sicuro e facile da ricordare solo per te.
                                </p>
                            </header>
                            <form [formGroup]="newPassword" (ngSubmit)="onSubmitNewPassword()"
                                class="auth-forgot__form">
                                <div class="auth-forgot__field">
                                    <label class="auth-forgot__label">Nuova password</label>
                                    <input type="password" formControlName="password" class="input-field input-rounded"
                                        placeholder="La tua nuova password">
                                    <app-form-error [control]="newPassword.get('password')"></app-form-error>
                                </div>
                                <div class="auth-forgot__field">
                                    <label class="auth-forgot__label">Conferma password</label>
                                    <input type="password" formControlName="confirmPassword"
                                        class="input-field input-rounded" placeholder="Ripeti la password">
                                    <app-form-error [control]="newPassword.get('confirmPassword')"></app-form-error>
                                </div>
                                <button type="submit" class="btn-primary auth-forgot__submit">
                                    Imposta nuova password
                                </button>
                            </form>
                        </ng-container>
                    </container-element>
                </div>
            </div>
        </div>
    </div>
</main>